<% if @renter %>
	<h1><%= @renter.name %></h1>

	<p>Do you really want to rent <%= @renter.name %></p>

	<%= form_for @rentship, method: :post do |form| %>
		<div class="form form-actions">
			<%= form.hidden_field :renter_id, value: @renter.name %>
			<%= submit_tag "Yes, Let's do this", class: 'btn btn-primary' %>
			<%= link_to "Naw", users_path(@renter), class: 'btn btn-primary' %>
<% end %>
<% end %>