<div id="editbox">
  <div class="row-fluid">
    <div class="span6">
      <h1>Edit your profile </h1>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-vertical' }) do |f| %>
      <%= f.error_notification %>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :liner, label: "One-liner" %>
        <%= f.input :fav_I, label: "What's your favorite instrument?" %>
        <%= f.input :fav_band, label: "What's your favorite band?" %>
        <%= f.input :other, label: "Describe yourself", as: :text, input_html: { rows: "5", style: 'width: 20.000em'} %>


        <div class= "edit_buttons">
          <%= f.submit "Update", class: "btn btn-primary" %>

          <%= link_to 'BACK TO LISTINGS', instruments_path, class: "btn btn-primary" %>
        </div>

         <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

    </div>
    <div class="span3">
      <%= f.input :avatar, label: "Upload an image" %>
    </div>
    
    <% end %>



  </div>
</div>

