<%= form_for([@rental.instrument, @rental]) do |f| %>
<div id="reservebox">
<div class="row">
	<div class="span6 offset1">
			<%= image_tag @instrument.image %>
		<h2>
			<%= @instrument.name %>
		</h2>
		<h4>
		  	<%= @instrument.user.first_name %>
		</h4>
			<strong>
				$<%= @instrument.price %> /week </br>
			</strong>
			<p>
		  		<%= @instrument.description %>
			</p>
		<hr/>
			
			<div class="row-fluid">
				<div class="span3">
					<%= f.submit 'Request to rent!', class: "btn btn-primary" %>
				</div>
				<div class="span3 offset1">
					<div class="link_to">
						<%= link_to 'Back to listings', instruments_path, class: "btn btn-primary" %>
					</div>
				</div>
			</div>
			
		</div>
		<div class="span4">
			<h3>Pick your date range</h3>
			<hr/>
				<%= f.hidden_field(:user_id) %>
				<%= f.hidden_field(:instrument_id) %>
				<%= f.label(:start_on, "From") %>
				<%= f.text_field(:start_on) %>
				<%= f.label(:end_on, "To") %>
				<%= f.text_field(:end_on) %>
			<% end %>
		</div>
	</div>
</div>
	


