<div class="container">
  <div id="imgcontainer1">
    
    <div class='homeimage1-text'>
      <h1>Share your instruments.</h1>
      <h2>And make a buck or two.</h2>
      <p>
        We grant aspiring musicians a quick, seamless way to play instruments loaned from their friends, neighbors, or local shops by providing a safe, secure way to share music gear with those around them. 
      </p>
    <%= link_to 'SIGN UP FOR A FREE ACCOUNT', instruments_path, class: "btn btn-large" %>
    </div>
  </div>

  <div class="instructable">
      <div class="row-fluid">
        <div class="span9">
           <h1 align="center">how it works</h1>
        </div>
        <div class="span3">
          <div class="homebutton2">
            <%= link_to 'BROWSE OUR LISTINGS', instruments_path, class: "btn btn-large" %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
         <div class="span4">
            <%=image_tag 'instruct-1.png' %>
            <h2>
              Search + select.
            </h2>
            <p>
              Our service is simple - search for an instrument you want to play, and we do the rest. 
            </p>
         </div>
         <div class="span4">
              <%=image_tag 'instruct-2.png' %>
              <h2>
                We deliver.
              </h2>
              <p>
                In partnership with local couriers, we deliver instruments to your home or office as soon as you make your selection.
              </p>
         </div>
         <div class="span4">
          <%=image_tag 'instruct-3.png' %>
              <h2>
                Play more music!
              </h2>
              <p>
                We are also working to provide access to free video lessons, affordable local tutors, and other resources to help you along the way. Stat tuned for more goodies!
              </p>
         </div>
      </div>
  </div>

  <div id="imgcontainer2">
    <div class="span3 offset8">
      <div class='homeimage2-text'>
      <h1>Your banjo is safe with us.</h1>
        <h2>Or viola. Or flute.</h2>
        <p>
          We've partnered with TaskRabbit to provide top-notch delivery service. And your instrument is insured up to $5,000 against damage. So breathe easy knowing your instrument is bringing more music into the world. 
        </p>
      <%= link_to 'LIST YOUR INSTRUMENT', instruments_path, class: "btn btn-large" %>
    </div>
  </div>
  </div>
</div>


