<%= render 'carousel' %>

 <h1 align="center">Simple and Easy</h1>
 <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <%=image_tag 'logos/guitar_logo.png' %>
          <h2>
            <%= link_to "Rent", rent_info_path %> 
          </h2>
          <p>
            Want to learn to play something but have never got around to it? Andante
            is the easiest way to finally learn that instrument you've had your eye
            on!
          </p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <%=image_tag 'logos/keyboard_logo.png' %>
        <h2>
          <%= link_to "Lend", lend_info_path %>
        </h2>
        <p>
          Andante is the safe, easy way to lend your unused instruments to others
          in the community who would like to make use of them.
        </p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <%=image_tag 'logos/trumpet_logo.png' %>
        <h2>
          <%= link_to "How it works", info_path %>
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh.
        </p>
      </div>
    </li>
  </ul>

  <div class="homebutton">
    <%= link_to 'Get Started', instruments_path, class: "btn btn-large btn-block btn-primary offset0.5" %>
  </div>
  <div>
    <h1>Andante lets you share your instruments with your community.</h1>
    <h3>And make a buck or two.</h3>
    <p>
      We grant aspiring musicians a quick, seamless way to play instruments loaned from their friends, neighbors, or local shops by providing a safe, secure way to share music gear with those around them.

      Andante is a vision for the future of enjoying musical pursuits.

      Be curious. Play more – pass it on.
    </p>
  </div>


