<div  id="team">
	<h1 id="info_title">Meet the team</h1>

	<div id="info_content" class="team offset0.5">
		<div class="team ron">
			<div class="team photo pull-left">
				<%=image_tag 'Team Pics/Ron.png' %>
			</div>
			<div class="content">
				<h3>Ron Weiss</h3>
				<h4>Founder & CEO</h4>
				<p class="pull-right"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui.</p>
			</div>
		</div>
		<div class="team jeff">
			<div class="team photo pull-left">
				<%=image_tag 'Team Pics/Jeff.png' %>
			</div>
			<div class="content">
				<h3>Jeff Kell</h3>
				<h4>Chief Strategic Officer</h4>
				<p class="pull-right"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui.</p>
			</div>
		</div>
		<div class="team david">
			<div class="team photo pull-left">
				<%=image_tag 'Team Pics/David.png' %>
			</div>
			<div class="content">
				<h3>David Henner</h3>
				<h4>Chief Technology Officer</h4>
				<p class="pull-right"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui.</p>
			</div>
		<div class="hr"><hr /></div>
		</div>
		<div class="team brandon">
			<div class="team photo pull-left">
				<%=image_tag 'Team Pics/Brandon.png' %>
			</div>
			<div class="content">
				<h3>Brandon Cato</h3>
				<h4>Head of Product</h4>
				<p class="pull-right"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui.</p>
			</div>
		<div class="hr"><hr /></div>
		</div>
		<div class="team anie">
			<div class="team photo pull-left">
				<%=image_tag 'Team Pics/Annie.png' %>
			</div>
			<div class="content">
				<h3>Annie Chen</h3>
				<h4>Designer</h4>
				<p class="pull-right"> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui.</p>
			</div>
		<div class="hr"><hr /></div>
		</div>
	</div>
	

</div>