<div id="add_instrument">
  <div class="row-fluid">
    <div class="span6">
     <%= simple_form_for(@instrument, html: {class: "form-vertical"}) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :image_file_size, class: "alert alert-error" %>
      <%= f.full_error :image_content_type, class: "alert alert-error" %>

      <%= f.input :name, label: "What is your instrument's name?", :input_html => {:style=> 'width: 20.000em'} %>

      <%= f.input :category, label: "What kind of instrument is it?", :input_html => {:style=> 'width: 20.000em'} %>

      <%= f.input :price, label: "Price", :input_html => { :as => :text, :style=>  "width: 20.000em;"} %>
    
      <%= f.input :description, as: :text, input_html: { rows: "3", style: 'width: 20.000em'} %>

      
        <%= f.submit "CREATE", class: "btn btn-primary btn-large" %>

        <hr>
      
        <%= link_to 'BACK TO LISTINGS', instruments_path %>
      
    </div>
    <div class="span3">
      <%= f.input :image, label: "Upload an image", :hint => "current image: #{f.template.image_tag(f.object.image.url)}", class: "btn btn-small" %>
    </div>
  </div>
</div>

      <% end %>

<!-- answer to styling the button: http://stackoverflow.com/questions/14509449/styling-file-upload-button-for-simple-form-for-with-bootstrap-in-rails-3


<!-- kept in case I need to have a collection in a future form

  , :collection => ["piano","saxaphone","trumpet"] -->
