<%= simple_form_for(@instrument, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :image, label: "Upload an image" %>
  <%= f.input :name, label: "What is your instrument's name?" %>
  <%= f.input :category, label: "What kind of instrument is it?" %>
  <%= f.input :description, as: :text, input_html: { rows: "3"} %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>


<!-- kept in case I need to have a collection in a future form

  , :collection => ["piano","saxaphone","trumpet"] -->
