<div class="indexbox">

	    
	    <%= form_tag instruments_path, :method => :get do %>
	    <p>
	      <%= text_field_tag :search, params[:search], {placeholder: "Search", class: 'input-medium search-query', style: 'width: 100%'} %>
	      <%= submit_tag "Search", :name=> nil, class: "btn btn-primary" %>
	    </p>
	    <% end %>
	  
	<div id="instruments">
	  <%= render @instruments %>
	</div>

	<%= will_paginate @instruments %>

</div>




