<div id="reservebox">
<div class="row">
	<div class="span6 offset2">
				<%= image_tag @instrument.image %>
		<h2>
			<%= @instrument.name %>
		</h2>
		<h4>
		  	<%= @instrument.user.first_name %>
		</h4>
			<strong>
				All the deets: </br>
			</strong>
			<p>
		  		<%= @instrument.description %>
			</p>
		<hr/>
		<div class:"well">
			<% if current_user == @instrument.user %>
				<p>
					Happy with it? 
				</p>
				<%= link_to 'Nope', edit_instrument_path(@instrument), class: "btn btn-primary" %> |
			<% end %>
			<p>Are you sure you want to rent this Instrument?</p>
			<%= link_to 'Rent this Instrument', request_instrument_path(@instrument), method: :post, class: "btn btn-primary" %>
			<%= link_to 'Back to instruments', instrument_path, class: "btn btn-primary" %>
		</div>
		</div>
		<div class="span4 offset">
			<div class="hero-unit">
				<h3>
					<label for="from">From</label>
					<input type="text" id="from" name="from" />
					<label for="to">to</label>
					<input type="text" id="to" name="to" />
 
				</h3>
			</div>
		</div>
	</div>
</div>
	


