<div id="instrument_showbox">
	<div class="row-fluid">
		<div class="span4">
				<%= image_tag @instrument.image, :class => "instrument_img_show" %>
			<div class="user_info">
					<%= image_tag @instrument.user.avatar, :class => "user_thumb" %>
				  	<h2><%= @instrument.user.first_name %></h2>
			</div>
		</div>
		<div class="span6">
				<h2>
					<%= @instrument.name %>
				</h2>
				<h3>
					<%= @instrument.category %>
				</h3>
				<h4>
					$<%= @instrument.price %> /week
				</h4>
				<p>
		  			<%= @instrument.description %>
				</p>
				<hr>
				<% if current_user == @instrument.user %>
					Are you happy with this listing?
					<br/>
					<%= link_to 'Yes', instruments_path, class: "btn btn-primary" %> 
					<%= link_to 'NO, EDIT', edit_instrument_path(@instrument), class: "btn btn-primary" %> 

				<% else %>
					<%= link_to 'BACK TO LISTINGS', instrument_path, class: "btn btn-primary btn-large" %>
					<%= link_to 'RENT', new_instrument_rental_path(@instrument), class: "btn btn-primary" %>
				<% end %>
			
			
				<h3>
					
				</h3>
			</div>
			
		</div>
	</div>
</div>	


